<nav class="navbar navbar-inverse bg-primary">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">ZitFit</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/home/register" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a routerLink="/home/login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>

<div class="intro-header">
    <router-outlet></router-outlet>
</div>